@import './mixin.scss';
@import './variables.scss';

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
// Text Colors
.text-purple{
  color: $purple_color;
}
.text-gray{
  color: $light_gray;
}
.text-red{
  color: $red_color;
}
.text-yellow{
  color: $yellow_color;
}
.text-green{
  color: $green_color;
}

// Background Colors
.bg-purple{
  background: $purple_color;
}

.bg-navy{
  background: $bg_navy;
}
.bg-input{
  background: $bg_input;
}
.bg-green{
  background: $green_color;
}
.bg-yellow{
  background: $yellow_color;
}
.bg-red{
  background: $red_color;
}
// Hover Background
.hover-purple{
  background: #1F2255;
}
.hover-green{
  background: #143141;
}
.hover-yellow{
  background: #342B3B;
}
.hover-red{
  background: #311F3D;
}
// Border Colors
.border-purple{
  border: 1px solid $purple_color;
}
.border-red{
  border: 1px solid $red_color;
}
.border-none{
  border: none!important;
}

// Button Focus Glow
button:focus, button:active{
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(13,110,253,.25);
}

.circle_dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

// Scrollbar

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8B8B8F; 
  width: 8px;
}

// Appex Chart Tooltip
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  background: #ECEFF1;
  border-bottom: 1px solid #ddd;
  display: none;
}
.apexcharts-tooltip.apexcharts-theme-light {
  border: 1px solid #212744!important;
  background: #212744!important;
}
.apexcharts-tooltip-marker {
  background: $purple_color!important;
}
.apexcharts-tooltip-text{
  color: $light_gray!important;
}

// Yellow tooltip
.orders_recieved_chart .apexcharts-tooltip-marker,.newsletter_chart .apexcharts-tooltip-marker {
  background: #FF9F43!important;
}

// Green tooltip
.revenue_generated_chart .apexcharts-tooltip-marker,.active_users_chart .apexcharts-tooltip-marker {
  background: #28C76F!important;
}

// Red tooltip
.quarterly_sales_chart .apexcharts-tooltip-marker {
  background: #EA5455!important;
}

.show>.dropdown-menu {
  display: block;
  position: absolute;
}

// Single Dropdown
.avg_session_dropdown{
  ul{
    right:0;
  }
}
.single_dropdown{
  position: relative;
  ul{
    position: absolute;
    background: #262C49; 
    // transition: all 0.3s ease;   
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 5px;
    // transform: scaleY(0);
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    padding: 8px 0;
    z-index: 99999999;
    li{
     color: $light_gray;
     cursor: pointer;
     font-weight: 400;
     font-size: 13px;
     line-height: 19px;
     padding: .4rem .7rem;
    }
    li:hover{
      color: $purple_color;
    }
  }
  ul::before{
    right: .6rem;
    left: auto;
    background: #262c49;
    transform: rotate(45deg) translate(-7px);
    border-left: 1px solid rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.1);
    content: "";
    position: absolute;
    top: -1px;
    width: .75rem;
    height: .75rem;
    display: block;
    z-index: 10;
    box-sizing: border-box;
  }
}