// Font Colors
$purple_color: rgb(115, 103, 240);
$light_gray: #c2c6dc;
$yellow_color: #FF9F43;
$red_color: #EA5455;
$green_color: #28C76F ;

// Background Colors
$bg_navy : #10163A;
$bg_dashboard: #262C48;
$bg_input: #262C49;
$hover_purple: #2C3056;